/* card-product-top button */
.btn-green {
  background-color: rgb(143, 188, 143);
  border-radius: 5px;
  color: white;
  font-weight: lighter;
  text-align: center;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
}

.btn-green:hover {
  background-color: rgb(119, 152, 119);
}
